/* font style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.banner-section-container {
    max-width: 1920px;
    height: 850px;
    background-color: #E554731A;


}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

}

.banner-text-container {
    width: 50%;
    text-align: left;
}

.banner-text-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-text-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner-text-container button {
    padding: 20px 45px;
    background-color: #E55473;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

.banner-image-container {
    width: 50%;
    height: 600px;

}

.featured-image-container {
    height: 670px;
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;

}

.featured-image-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.featured-image-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.featured-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-images {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;

}

.third-image {
    width: 30%;
    height: 471px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 50% 50% 0 0;
    background-color: rgba(71, 125, 17, 0.15);

}

.first-image {
    width: 30%;
    height: 468px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 50% 50% 0 0;
    padding-top: 40px;
    background-color: rgba(167, 33, 98, 0.15);
}

.second-image {
    width: 30%;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 50% 50% 0 0;
    padding-top: 40px;
    background-color: #0597A026;
}

.name {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 300px;
    justify-content: center;
    padding-bottom: 20px;
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
}

.customer-services {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    justify-content: center;
    background-color: #2727270D;
    padding-top: 90px;
    padding-bottom: 90px;
    border-radius: 8px;
    margin-top: 123px;
    margin-bottom: 120px;
}

.customer-one {
    color: rgba(39, 39, 39, 0.8);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
}

.discount {
    background-color: #E554730D;
}

.discount-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
}

.discount-title-container {
    text-align: center;
}

.discount-title-container h1 {
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.discount-title-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin: 25px 0px;
}

.discount-title-container button {
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;

}

span {
    color: #E55473;
}

.instagram {
    width: 80%;
    margin: 0 auto;
}

.instagram-title-container {
    text-align: center;
    margin-top: 120px;


}

.instagram-title-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.instagram-title-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 45px;
}

.instagram-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 120px;
    gap: 25px;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    height: 449px;
    background-image: url(../Asset/Rectangle-9.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.contact-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.input-two {
    padding: 14px;
    border: none;
    border-radius: 9px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;

}

form {
    display: flex;
    gap: 4px;
}

.input-one {
    padding: 20px 20px;
    width: 500px;
    border: none;
    border-radius: 9px;
}